/** {
    border: 1px solid black;
}*/

body {
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    font-family: 'Helvetica Neue';
}
a {
    text-decoration: none;
}

header {
    padding-left: 15px;
    padding-top: 10px;
}

@media screen and (max-width: 700px) { 
   header {
    width: 50%;
    margin-left:25%;
    }     
}
@media screen and (min-width: 700px) and (max-width: 1300px) { 
   header {
    width: 700px;
    margin: 10px auto;
    }     
}
@media screen and (min-width: 1300px) { 
   header {
    width: 1256px;
    margin: 10px auto;
    }     
}

/* <---- Header ---> */
.wix-page-header {
	color: #ffffff;
	background-color: rgb(25,48,62);
	height: 20%;
    background-image: url('./img/space.jpeg');
	background-attachment: fixed;
    width: 100%;
    
}
	@media screen and (min-width: 42em) {
		.wix-page-header {
			padding-top: 1rem;
			padding-bottom: 1rem; } 
        .header-title-container {
             /*text-align: center;*/
             width:64%;
             margin-left: 18%;
             padding-left: 15px;
            text-align: center;
         }   
    }

	@media screen and (min-width: 42em) and (max-width: 64em) {
		.wix-page-header {
			padding: 3rem 4rem; } }
	@media screen and (max-width: 42em) {
		.wix-page-header {
			padding: 2rem 1rem; } 
        .header-title-container {
             width: 100%;
         }    
    }

.top-title {
	font-family: 'Helvetica Neue';
	font-size: 84px;
	margin-top: 72px;
	letter-spacing: 3px;
	font-weight: 100;
}

.project-tagline {
	font-family: 'Helvetica Neue' ,sans-serif;
	font-size: 24px;
	font-weight: 100;
	margin-top: 40px;
    line-height: 1.9;
    padding-bottom: 20px;
	letter-spacing: 3px;
}

    @media screen and (max-width: 42em) { 
        .main-logo {
            width:90%;
            margin-left: 5%;
            
        } 
        .top-title {
            width: 90%;
            margin-left: 5%;
            text-align: center;
            font-size: 30px;
        }
        .project-tagline {
            width: 90%;
            font-size: 20px;
            margin-left: 5%;
            text-align: center;
        } 
    }



/* <---- Projects ---> */

.projects-container {
    padding : 10px;
    margin-top: 0;
    margin-bottom: 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    @media screen and (max-width: 42em) {
    .projects-container {
    width: 100%;
    }}
    @media screen and (min-width: 700px) and (max-width: 1300px) {
        .projects-container {
            justify-content: center;
        }
    }
    @media screen and (min-width: 1300px) {
		.projects-container {
			width: 1256px;
            margin: 0 auto; } }

.project {
    background-color: rgb(249,247,247); 
    display: flex; 
    vertical-align: top; 
    padding: 8px 16px;
    padding-right: 0; 
    margin-top: 30px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    flex-wrap: wrap;
    width: 47%;
    
}

    @media screen and (max-width: 700px) {
        .project {
        width: 100%;
        justify-content: center;
        
        } }
    @media screen and (min-width: 700px) and (max-width: 1300px) {
        .project {
            width: 700px;
            margin: 15px auto;
        }
    }

   

.project-text-container{
    width: 50%;
}
.project-demoapp-links-container{
    display: flex;
    flex-wrap: wrap;
    
}
.project-icons-container {
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.apple-icon {
    cursor: pointer;
    width: 30px;
    flex: 1;
}

.android-icon {
    cursor: pointer;
    width: 30px;
    flex: 1;
}
    @media screen and (min-width: 700px) {
		
        .project-text-container{
             width: 45%;
             margin-left: 2.5%;
            }
        .project-media-container{ 
            width: 50%;
            flex-direction: row-reverse;
            }
             
       .project-demoapp-links-container{
            margin-top: 40px;
            justify-content: none;
            }
        
        .project-video-div {
            float: right;
            }
        }
        .project-icons-container {
            width: 20px;
            margin-top: 60%;
            float: right;
            }
        .android-icon {
            cursor: pointer;
            width: 30px;
            flex: 1;
            margin-top: 5px;
        }
    @media screen and (min-width: 700px) and (max-width: 1300px) {
        .project-icons-container {
            width: 20px;
            margin-top: 50%;
            float: right;
            }
    }

    @media screen and (max-width: 700px) {
        .project-text-container{
            width: auto;
        }
        .project-media-container {
            
        }
        .project-icons-container {
            margin-left: 35%;
            width:30%;
            margin-top: auto;
            float: none;
            padding: 5px;
        }
        .project-demoapp-links-container{
            flex-wrap: wrap;
            justify-content: center;
            margin-top: auto;   
        }
        .project-video-div {
        margin-top: 15px;
        margin-bottom: 10px;
        }
}
.project-title {

}

.project-description {

}

.project-github-link {
    display: block;
    margin-bottom: 20px;
}
@media screen and (max-width: 42em) {
    .project-title {
        text-align: center;
    }

    .project-description {
        text-align: center;
    }

    .project-github-link {
        text-align: center;
    }
}



.iphone-mock-img {
    background-image: url("./img/iphone-mock.png");
}

.android-mock-img {
    background-image: url("./img/iphone-mock.png");
}

.project-demoapp-link {
    margin: 5px;
}
.download-demo-title {
    display: block;
}

.project-video-iphone {
    position: relative;
    top: 48px;
    left: 30px;
}
.project-video-android {
    position: relative;
    top: 31px;
    left:14px;
}



/*<---- Footer ---> */

.footer {
    border-top: 1px solid;
    color: rgb(223,226,229);
}

.footer-container {
    align-items: center;
    display: block;
    margin: auto;
    width: 70%;
    justify-content: center;
    flex-wrap: wrap;
}

.wix-footer {
	display: -webkit-flex; /* Safari */
	-webkit-flex-direction: row; /* Safari 6.1+ */
	display: flex;
	flex-direction: row;
	align-items: center;

	flex-wrap: wrap;

	margin: 20px;
	padding-top: 70px;
	padding-bottom: 70px;
}

.wix-footer .subscribe-button {
	border: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 30px;
	text-align: center;
	padding: 8px;
	color: grey;
	width: 130px;
	align-items: center;
    text-decoration: none;

	-webkit-transition: background-color, color 1s ease-out;
	-moz-transition: background-color, color 1s ease-out;
	-o-transition: background-color, color 1s ease-out;
	transition: background-color, color 1s ease-out;
}

.wix-footer .subscribe-button:hover {
	color: #733CA6;
	border-color: #733CA6;
    text-decoration: none;
    
}
.wix-footer .subscribe-button-link:hover{
    text-decoration: none;
}

.wix-footer .footer-links-container {
	display: -webkit-flex; /* Safari */
	-webkit-flex-direction: row; /* Safari 6.1+ */
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 50px;
	margin-top: 5px;
	margin-bottom: 5px;

	flex: 1;
}

.links-list {
	list-style-type: none;
	margin: 30px;
}

.links-list a {
	color: black;
	font-family: 'Helvetica Neue Thin';
}

.links-list a:hover {
	color: #733CA6
}

.wix-footer .subscribe-container {
	margin: 20px;
	display: flex;
	flex-direction: column;
	flex: 0.5;
}

.wix-footer p {
	margin-top: 10px;
	color: black;
	opacity: 100%;
	font-family: 'Helvetica Neue Thin';
}

.wix-footer .email-container {
	margin: 20px;
	display: flex;
	flex-direction: column;
	flex: 1;
}

